.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: absolute;
  width: auto;
  height: 30px;
  margin-bottom: 730px;
  background-color: white;
}

.profile {
  width: 1200px;
  height: 700px;
  background-color: #183d3d;
  border-radius: 10px;
  display: flex;
}

.profileBlock {
  border-radius: 10px;
  width: 400px;

  border-right: 1px solid black;
  height: 100%;
}

.profileUser {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.profileAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.profileAvatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profileName {
  height: 10%;
  text-align: center;
}

.profileLinks {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}

.profileLinks a {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.profileSkills {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

.profileSkills span {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: auto;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: default;
}

.profileSkills span:hover {
  margin-top: 2px;
  background-color: blueviolet;
  transition: 0.3s ease-in-out;
}

.profileLanguage {
  height: 20%;
}

.language {
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language span {
  display: flex;
  width: 100px;
  margin: 10px;
  height: 20px;
}

.language span:last-child {
  display: flex;
  justify-content: flex-end;
}

.profileSummary {
  width: 800px;
}

.profileExpirience {
  height: 100%;
}

.profileExpirience h2 {
  height: 5%;
}

.expirienceItem {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.expirienceItem h4 {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.company {
  display: flex;
  justify-content: space-between;
}

.company span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks ul li {
  width: 90%;
  height: auto;
  margin-top: 5px;
  align-items: center;
  /* margin-left: 20px; */
}

.expirience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
